<ion-header>
  <ion-navbar>
    <ion-title>
      Send Mode
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page2">
  <ion-list id="sendMode-menu">
    <ion-item>
      <ion-label>Choose remote</ion-label>
      <ion-select [(ngModel)]="selectedRemote" (ionChange)="chooseRemote()">
        <ion-option *ngFor="let remote of remotes" [value]="remote">{{remote.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="or add new remote" [(ngModel)]="newRemote"></ion-input>
    </ion-item>
    <button *ngIf="canAddRemote()" id="addRemoteButton" ion-button block (click)="addRemote()">
      Add Remote
    </button>
    <button *ngIf="!canAddRemote()" id="clearRemoteButton" ion-button block color="light" (click)="clearRemote()">
      Clear Remote
    </button>
  </ion-list>
  <ion-list *ngIf="selectedRemote">
    <button *ngFor="let signal of selectedRemote?.signals" id="sendButton" ion-button block (click)="sendSignal(signal.code)">
      {{signal.name}}
    </button>
  </ion-list>
</ion-content>
