<ion-header>
  <ion-navbar>
    <ion-title>
      Learn Mode
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page3">
  <h3 *ngIf="selectedRemote" id="learnMode-heading1" style="color:#000000;">
    {{selectedRemote?.name}}
  </h3>
  <h3 *ngIf="!selectedRemote" id="learnMode-heading1" style="color:#000000;">
    Choose remote
  </h3>
  <ion-list>
    <ion-item *ngIf="isLearning">
      <ion-icon name="alert" item-start></ion-icon>
      Press button
    </ion-item>
    <ion-item *ngIf="!isLearning">
      <ion-icon name="checkmark-circle" item-start></ion-icon>
      Button Recerded
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Enter command name" [disabled]="isLearning"></ion-input>
    </ion-item>
  </ion-list>
  <div class="spacer" style="height:200px;" id="learnMode-spacer3"></div>
  <button [disabled]="isLearning" ion-button color="stable" block>
    Train Again
  </button>
  <button [disabled]="isLearning" ion-button color="positive" block>
    OK
  </button>
</ion-content>